{#
/**
 * @file
 * Default theme implementation to display a gist.
 *
 * @ingroup themeable
 */
#}
{% for file in files %}
<figure>
  <figcaption>{{ file.filename }}</figcaption>
  <pre>
    <code {{ file.attributes }} spellcheck="false">{{ file.content }}</code>
  </pre>
</figure>
{% endfor %}
